<% viewer.resources.each do |resource| %>
  <%= content_tag(:div, viewer.attributes_for(resource)) do %>
    <div class='al-digital-object'>
      <%= link_to(resource.label, resource.href) %>
    </div>
  <% end %>
<% end %>
