<% requestable = item_requestable?('', { document: document }) %>

<% if requestable %>
  <div class='mr-auto al-show-actions-box-request'>
    <% if ead_files(document).present? %>
      <%= render partial: 'arclight/requests/aeon_web_ead', locals: { document: document } %>
    <% else %>
      <%= render partial: 'arclight/requests/google_form', locals: { document: document } %>
    <% end %>
  </div>
<% end %>
