<% if document.requestable? %>
  <div class='mr-2 me-2 al-request flex-md-fill'>
    <% document.repository_config.available_request_types.each do |request_type| %>
      <%= render partial: "arclight/requests/#{request_type}", locals: { document: document } %>
    <% end %>
  </div>
<% end %>
