<% if document.requestable? %>
  <div class='mt-2 d-inline-block al-request'>
    <% document.repository_config.available_request_types.each do |request_type| %>
      <%= render partial: "arclight/requests/#{request_type}", locals: { document: document } %>
    <% end %>
  </div>
<% end %>
