<li class="nav-item <%= repositories_active_class %>">
  <%= link_to t('arclight.routes.repositories'), arclight_engine.repositories_path, class: 'nav-link' %>
</li>
<li class="nav-item ml-3 ms-3 <%= collection_active_class %>">
  <%= link_to t('arclight.routes.collections'), arclight_engine.collections_path, class: 'nav-link' %>
</li>
