<% doc_presenter = document_presenter(document).with_field_group(field_accessor) %>
<div class="container">
  <dl class="row dl-invert">
    <% doc_presenter.field_presenters.each do |field_presenter| %>
      <%= render (field_presenter.component || Blacklight::MetadataFieldComponent).new(field: field_presenter, show: true) %>
    <% end %>
  </dl>
</div>
