<div class='card document-header'>
  <div class='card-block row'>
    <div class='col-9'>
      <%= document.repository %>
    </div>
    <div class='col-3 text-right'>
      <%= t(:'arclight.views.show.collection_id', id: document.unitid) %>
    </div>
  </div>
</div>
