<% document_actions = capture do %>
  <% # bookmark functions for items/docs -%>
  <%= render_index_doc_actions document, wrapping_class: "col-sm-3 col-md-5 col-lg-4 text-right" %>
<% end %>

<div class='al-document-title-bar'>
  <div class='row'>
    <div class='col-sm-9 col-md-7 col-lg-8'>
      <%= document.repository_and_unitid %>
    </div>
    <%= document_actions %>
  </div>
</div>
