<div class="row">
  <div class="col-5">
    <% counter = document_counter_with_offset(document_counter) %>
    <%= link_to_document document, document_show_link_field(document), counter: counter %>
  </div>
  <div class="col-5">
    <%= render_document_partial(document, :index_breadcrumb) %>
    <div class='al-repository-footer'>
      <%= document.repository %>
    </div>
  </div>
  <div class="col-2">
    <%= render_document_partial(document, :arclight_online_content_indicator) %>
  </div>
</div>
