<% # Arclight Customized version of https://github.com/projectblacklight/blacklight_range_limit/blob/master/app/views/blacklight_range_limit/_range_limit_panel.html.erb %>

<% # requires solr_config local passed in
  field_config = range_config(solr_field)  
%>

<div class='limit_content range_limit'>  
  <% unless params['range'] && params['range'][solr_field] && params['range'][solr_field]['missing'] %>
    <div class='profile'>
      <% if (min = range_results_endpoint(solr_field, :min)) &&
            (max = range_results_endpoint(solr_field, :max)) %>
        <% if field_config[:segments] != false %>
          <div class="distribution subsection <%= 'chart_js' unless field_config[:chart_js] == false %>">
            <% if solr_range_queries_to_a(solr_field).length > 0 %>
              <%= render(partial: 'blacklight_range_limit/range_segments', locals: {solr_field: solr_field}) %>
            <% else %> 
              <%= link_to('View distribution', search_state.to_h.merge(action: 'range_limit', range_field: solr_field, range_start: min, range_end: max), :class => 'load_distribution') %>
            <% end %>
          </div>
        <% end %>  
      <% end %>
    </div>
  <% end %>
</div>
