REMOVE
<%# header bar for doc items in index view -%>
<div class="documentHeader col" data-document-id="<%= document.id %>">
  <h3 class="index_title document-title-heading">
    <%= link_to_document document, document_show_link_field(document), counter: counter %>
    <%= content_tag('span', class: 'al-document-extent badge badge-light') do %>
      <%= document.extent %>
    <% end if document.extent %>
  </h3>
</div>
