<h2 class="sr-only"><%= t 'arclight.views.show.online_content' %></h2>

<% if document.online_content? %>
  <%= content_tag(
    :div, '',
    class: 'al-contents',
    data: {
      arclight: {
        path: search_catalog_path,
        name: document.collection_name,
        access: 'online',
        view: 'online_contents',
        search_field: 'within_collection'
      }
    }
  ) %>
<% end %>
