<%# locals: (presenter:) -%>
<div class="row">
  <div class="col-md-3 order-md-2">
    <%= render 'collection_context_nav', presenter: presenter %>
  </div>

  <div class="col-md-9 order-md-1">
    <h2 class="sr-only"><%= t 'arclight.views.show.context' %></h2>
    <% unless blacklight_config.show.metadata_partials.nil? %>
      <% blacklight_config.show.metadata_partials.each do |metadata| %>
        <% next unless presenter.fields_have_content?(metadata) %>
        <%= render 'custom_metadata', { document: @document, presenter: presenter, field_accessor: metadata } %>
      <% end %>
    <% end %>
  </div>
</div>
