<h2 class="sr-only"><%= t 'arclight.views.show.context' %></h2>
<!-- Section below will be moved into its own partial later -->
<%= content_tag(:div, id: t("arclight.views.show.sections.collection_context_field").parameterize) do %>
  <%= generic_context_navigation(@document) %>
<% end %>
