<h2 class="sr-only"><%= t 'arclight.views.show.context' %></h2>
<%= content_tag(:div,
                class: 'al-collapse-parent',
                data: {
                  collapse: t('arclight.views.show.collapse'),
                  expand: t('arclight.views.show.expand')
                },
                id: t("arclight.views.show.sections.collection_context_field").parameterize
               ) do %>
  <%= render_document_context(@document, is_original: true) %>
<% end %>
