<div>
	<% #if document.unitid %>
		<span><%= t(:'arclight.views.show.collection_id', id: document.first('unitid_ssm')) %></span>
  <% #end %>  

      <% if document.containers.present? %>
      <span>
        | <%= document.containers.join(', ') %>:
      </span>
    <% end %>

	  <div class="al-hierarchy-side-content float-right col">
    <% unless hierarchy_component_context? %>
      <div class="index-document-functions">
        <%= render partial: 'catalog/bookmark_control', locals: { document: document } %>
      </div>
    <% end %>
    <% #if requestable %>
      <%#= render partial: 'arclight/requests/google_form', locals: { document: document } %>
    <% #end %>
  </div>

</div>