<h2 class="sr-only">Component description</h2>
<!-- Section below will be moved into its own partial later -->
<%= content_tag(:div, id: t("arclight.views.show.sections.collection_context_field").parameterize) do %>
  <h3 class='al-show-sub-heading'>
    <%= t("arclight.views.show.sections.collection_context_field") %>
  </h3>
  <%= nested_component_lists(@document) %>
<% end %>
