<% if document_downloads.files.present? %>
  <div class='dropdown al-collection-actions-menu'>
    <button class='btn btn-secondary btn-sm dropdown-toggle' type="button" id="download-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t 'arclight.views.show.download.default' %>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="download-dropdown">
      <% document_downloads.files.each do |file| %>
        <% if file.size %>
          <%= link_to(t("arclight.views.show.download_with_size.#{file.type}", size: file.size), file.href, class: 'dropdown-item') %>
        <% else %>
          <%= link_to(t("arclight.views.show.download.#{file.type}"), file.href, class: 'dropdown-item') %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
