<% if document_downloads.files.present? %>
  <div class=" al-show-actions-box-downloads-container">
    <% document_downloads.files.each do |file| %>
      <div class="al-show-actions-box-downloads media">
        <%= blacklight_icon(file.type, classes: "al-show-actions-box-downloads-file") %>
        <% if file.size %>
          <%= link_to(t("arclight.views.show.download_with_size.#{file.type}", size: file.size), file.href, class: "media-body") %>
        <% else %>
          <%= link_to(t("arclight.views.show.download.#{file.type}"), file.href, class: "media-body") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
