<% if document_downloads.files.present? %>
  <div class=" al-show-actions-box-downloads-container">
    <%= render Arclight::DocumentDownloadComponent.with_collection(document_downloads.files) %>
  </div>
<% end %>
