<div class='al-grouped-title-bar'>
  <div class='row'>
    <div class='col-md-12'>
      <% if document.repository_config.present? %>
        <div class='al-grouped-repository breadcrumb-links'>
          <%= link_to(document.repository_config.name, arclight_engine.repository_path(document.repository_config.slug)) %>
        </div>
      <% end %>
      <h3><%= link_to_document document, document_show_link_field(document) %></h3>
      <%= content_tag('span', class: 'al-document-extent badge') do %>
        <%= document.extent %>
      <% end if document.extent %>
    </div>
  </div>
</div>
