<div class="result-type-group btn-group" role="group" aria-label="<%= t('arclight.views.index.group_results') %>">
  <%= link_to t('arclight.views.index.all_results'),
              search_catalog_path(search_without_group),
              class: "btn btn-outline-secondary #{'active' unless grouped?}"
  %>
  <%= link_to t('arclight.views.index.group_by_collection'),
              search_catalog_path(search_with_group),
              class: "btn btn-outline-secondary #{'active' if grouped?}"
  %>
</div>
