<%# header bar for doc items in index view -%>
<div class="documentHeader row" data-document-id="<%= document.id %>">
  <div class="col-auto col-no-right-padding">
    <%= blacklight_icon document_header_icon(document) %>
  </div>
  <div class="col col-no-left-padding">
    <h3 class="index_title document-title-heading col-12">
      <% counter = document_counter_with_offset(document_counter) %>
      <%= link_to_document document, document_show_link_field(document), counter: counter %>
    </h3>
  </div>
</div>
