<header class="documentHeader row">
  <h3 class="index_title document-title-heading col-md-8">
    <% counter = document_counter_with_offset(document_counter) %>
    <%= link_to_document document, document_show_link_field(document), counter: counter %>
  </h3>
  <div class='col-md-2'>
    <span class='badge badge-default al-number-of-children-badge'>
      <%= t(:'arclight.views.index.number_of_children', count: document.number_of_children) %>
    </span>
  </div>
</header>
