<div class="row">
  <div class='breadcrumb-links media'>
  	<span class="media-body ml-3" aria-hidden="true"><%= blacklight_icon :repository, classes: 'al-repository-content-icon' %></span>
    <span class="col ml-2 pl-0" ><%= parents_to_links(document) %></span>
  </div>
</div>
