<div class='al-data-range-histogram row'>
  <div class='col-md-12'>
    <div id='al-date-range-histogram-content' class='collapse facet-content'>
      <%= render partial: 'arclight_rangelimit', locals: { field_name: :date_range_sim, solr_field: :date_range_sim } %>
    </div>
    <a class='float-right' data-toggle='collapse' href='#al-date-range-histogram-content' aria-expanded='false' aria-controls='al-date-range-histogram-content'>
      <span id="al-date-range-histogram-show">
        <%= t('arclight.date_range_histogram.show') %>
      </span>
      <span id="al-date-range-histogram-hide" hidden="hidden">
        <%= t('arclight.date_range_histogram.hide') %>
      </span>
    </a>
  </div>
</div>
