<div class='row'>
  <div class='col-md-3'>
    <%= render partial: 'show_sidebar' %>
  </div>
  <div class='col-md-9'>
    <% blacklight_config.show.metadata_partials.each do |metadata| %>
      <%= render partial: 'custom_metadata', locals: { document: @document, field_accessor: metadata } %>
    <% end %>
  </div>
</div>
