<div class='al-show-header-section'>
  <%= render_document_partial(document, 'arclight_document_show_header') %>
  <%= render_document_partial(document, 'arclight_online_content_indicator') %>
  <%= render_document_heading(document, :tag => :h1) %>
</div>
