<div class='al-sticky-sidebar'>
  <h2 class="sr-only">Sidebar</h2>
  <div class='card'>
    <div class='card-header'>
      <h3 class="mb-0">Search within this collection</h3>
    </div>
    <div class='card-block'>
      <%= render 'search_within_form' %>
    </div>
  </div>
  <div class='al-sidebar-navigation-overview card'>
    <div class='card-header'>
      <h3 class="mb-0"><%= t('arclight.views.show.navigation_sidebar.title') %></h3>
    </div>
    <div class='card-block'>
      <ul class='nav nav-pills flex-column'>
        <% unless blacklight_config.show.metadata_partials.nil? %>
          <% blacklight_config.show.metadata_partials.each do |item| %>
            <% next unless fields_have_content?(@document, item) %>
            <li class='nav-item'>
              <%= link_to t("arclight.views.show.sections.#{item}"), "##{t("arclight.views.show.sections.#{item}").parameterize}", class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <% unless blacklight_config.show.context_sidebar_items.nil? %>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <% blacklight_config.show.context_sidebar_items.each_with_index do |item, index| %>
          <%= render partial: 'context_card', locals: { document: @document, field_accessor: item, card_index: index} %>
      <% end %>
    </div>
  <% end %>
</div>
