<div class='al-show-breadcrumb'>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item al-bc-item">
        <%= link_to t('arclight.routes.home'), root_path %>
      </li>
      <li class="breadcrumb-item al-bc-item">
        <%= link_to t('arclight.routes.collections'), arclight_engine.collections_path %>
      </li>
      <% Arclight::Parents.from_solr_document(document).as_parents.map do |parent| %>
        <%= content_tag :li, class: 'breadcrumb-item al-bc-item' do %>
          <%= link_to parent.label, solr_document_path(parent.global_id) %>
        <% end %>
      <% end %>
    </ol>
  </nav>
</div>
