<div class='row'>
  <div class='al-show-breadcrumb col-md-9'>
    <%= render partial: 'shared/show_breadcrumbs', locals: {document: document} %>
  </div>
  <%= render_document_partial(document, :show_actions_box) %>
</div>
