<div class='d-md-flex justify-content-between al-show'>
  <div class='al-show-breadcrumb'>
    <%= render partial: 'shared/show_breadcrumbs', locals: {document: document} %>
  </div>
  <%= render_document_partial(document, :show_actions_box) %>
</div>
