<% # overidden from Blacklight to handle our responsive needs %>
<div id="sortAndPerPage" class="sort-pagination clearfix">
  <div>
    <%= render partial: "paginate_compact", object: @response if show_pagination? %>
  </div>
  <%= render partial: 'group_toggle' unless current_page?(controller: 'bookmarks')  %>
  <%= render_results_collection_tools wrapping_class: "search-widgets float-md-right" %>
</div>
