<div class="home container-fluid">
  <div class="home-head-bar col-md-12">
    <h5>Libraries at Institution</h5>
  </div>
</div>

<div class="home container-fluid">
  <div class="title-box col-md-12">
    <h1>Archival Collections at Institution</h1>
    <div class="col-md-12">
      <div class="home-search-area">
        <%= render 'search_form' %>
      </div>
    </div>
  </div>
</div>