.blacklight-catalog-home {

  margin-left: 0px;

  #search-navbar, #header-navbar {
    display: none;
  }

  .home-head-bar {
    background-color: rgb(242, 242, 242);
    border-bottom: lightgray solid thin;
  }

  .title-box {
    background-color: rgb(242, 242, 242);
    border: lightgray solid thin;
    height: 250px;

    h1 {
      margin-top: 36px;
      text-align: center;     
    }

    .home-search-area {
      background-color: white;
      margin: auto;
      padding: 20px;
      width: 50%;
    }

  }

}

