<% digital_objects.each do |object| %>
  <div class='al-digital-object'>
    <div class='al-digtal-object-label'><%= object.label %></div>
    <%= link_to(t(:'.link'), object.href, class: 'btn btn-primary', role: 'button') %>
  </div>
<% end %>
