<%= form_tag google_form.url, method: :get do |f| %>
  <% google_form.form_mapping.each do |key, value| %>
    <%= hidden_field_tag value, google_form.send(key) %>
  <% end %>
  <button type='submit' class='btn btn-primary'>
    <%= t('arclight.request.container') %>
  </button>
<% end %>
