<% document ||= @document %>
<% google_form ||= Arclight::Requests::GoogleForm.new(document, show_presenter(document), solr_document_path(document)) %>

<%= form_tag google_form.url, method: :get, class: 'al-request-form' do |f| %>
  <% google_form.form_mapping.each do |key, value| %>
    <%= hidden_field_tag value, google_form.send(key) %>
  <% end %>
  <!-- Note: previous button class was 'al-request-button btn-link' -->
  <button type='submit' class='btn btn-secondary btn-sm'>
    <%= t('arclight.request.container') %>
  </button>
<% end %>
