#contents > .context-navigator,
#collection-context > .context-navigator {
  padding-left: $spacer;
}

ul.al-context-nav-parent {
  padding-left: 0px;
}

li.al-collection-context  {
  flex-grow: 1;
  margin-right: 0;
  margin-left: 0;
  padding-left: 15px;
  max-width: 100%;

  .al-collection-context-collapsible {
    width: 100%;
  }

  .blacklight-icons {
    padding-top: $spacer * .25;
  }

  .al-number-of-children-badge {
    font-size: 12px;
    vertical-align: middle;
  }

  .documentHeader {
    flex-grow: 1;
    margin-bottom: $spacer;
    width: 100%;
  }

  .document-title-heading {
    font-size: 1.25rem;
  }

  .col.col-no-left-padding.d-flex.flex-wrap {
    flex-grow: 1;
  }
  .order-2 .row {
    margin-left: 0;
  }

  .al-document-abstract-or-scope {
    max-width: 45em;
  }

  .blacklight-icons svg {
    fill: $gray-600;
  }

  .al-online-content-icon svg {
    fill: $green;
  }
  @media (max-width: 767px) {
    padding-left: 0;
    .al-document-abstract-or-scope {
      max-width: 25em;
    }
  }
}

@media (max-width: 767px) {
  .blacklight-catalog.blacklight-catalog-show {
    #context {
      padding: 10px;
    }
  }
  ul.al-context-nav-parent {
    padding-left: 40px;
  }
}
