#contents {
  overflow-y: auto;
}

.context-navigator {
  font-size: 0.875rem;

  .al-context-nav-parent {
    list-style: none;
    overflow-wrap: break-word;
    padding-left: 2rem;
  }

  .prev-siblings {
    list-style: none;
  }

  .al-toggle-view-children {
    padding-right: $spacer * 0.5;
    margin-left: -2rem;
  }

  .documentHeader {
    display: flex;
    justify-content: flex-start;
  }

  .al-collection-context {
    @extend .my-2;

    &.collapsed {
      visibility: hidden;
      height: 0;
      opacity: 0;
      margin: 0 !important;
    }
  }
}
