.al-hierarchy-highlight > .documentHeader {
  background: $mark-bg;
}

// Placeholder styling
.al-hierarchy-placeholder {
  margin-top: $spacer;

  h3 {
    background-color: $gray-200;
    border-radius: 5px;
    height: $h3-font-size;
  }

  p {
    background-color: $gray-200;
    border-radius: 5px;
    height: $font-size-base;
  }
}

// Scope content
.al-document-abstract-or-scope {
  font-size: 0.85rem;
  line-height: 1.5;
  max-width: 45em;
  margin-bottom: $spacer;
}

.alert {
  .blacklight-icons svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.title-container {
  border-bottom: $border-width solid $border-color;
  padding-bottom: $spacer * .5;
  margin-bottom: $spacer * .75;
}

.online-contents {
  margin-bottom: $spacer;
  margin-top: $spacer;

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}
