:root {
  --al-toggle-icon-color: #{$navbar-light-color};
}

// Collapse +/- indicators
.al-toggle-view-children {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 1.25rem;
  margin-left: -1.25rem;
  margin-right: 0.25 * $spacer;
  margin-top: 0.1 * $spacer;
  width: 1.1rem;

  svg {
    fill: var(--al-toggle-icon-color);
  }

  .icon-minus {
    display: none;
  }
  &:not(.collapsed) {
    .icon-plus {
      display: none;
    }
    .icon-minus {
      display: inline;
    }
  }
  &.collapsed {
    .icon-plus {
      display: inline;
    }
    .icon-minus {
      display: none;
    }
  }
}

.al-hierarchy-highlight > .documentHeader {
  background: $mark-bg;
}

ul.documents {
  list-style: none;
  li {
    list-style: none;
  }
}

#collection-context {
  list-style: none;

  ul {
    list-style: none;
    padding-left: 1.5rem;

    ul {
      padding-left: 1rem;
    }
  }

  .documentHeader {
    display: flex;
    margin-bottom: 0.5 * $spacer;
  }

  .al-document-container {
    display: none;
  }

  turbo-frame[busy] {
    &::before {
      animation: placeholder-glow 2s ease-in-out infinite;
      background-color: currentcolor;
      content: "Loading...";
      cursor: wait;
      display: inline-block;
      min-height: 1em;
      opacity: 0.5;
      vertical-align: middle;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }
}

#contents {
  .documents {
    list-style: none;
    padding-left: 0;

    li {
      padding: 0.25 * $spacer 0.5 * $spacer;
      list-style: none;
    }

    li:nth-of-type(odd) {
      background-color: $table-striped-bg;
    }
  }

  .documentHeader {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 0.5 * $spacer;
  }

  .al-document-container {
    flex-basis: 25%;
    text-align: right;
  }
}

// Scope content
.al-document-abstract-or-scope {
  font-size: 0.85rem;
  line-height: 1.5;
  max-width: 45em;
  margin-bottom: $spacer;
}

.alert {
  .blacklight-icons svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.title-container {
  border-bottom: $border-width solid $border-color;
  padding-bottom: $spacer * 0.5;
  margin-bottom: $spacer * 0.75;
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "title bookmark-toggle"
    "request request"
    "sidebar-toggle sidebar-toggle"
    "online-contents online-contents";
  justify-content: space-between; // This will push the bookmark control to the right when the title is short
  align-items: start;

  @include media-breakpoint-up(lg) {
    grid-template-areas:
      "title request bookmark-toggle"
      "sidebar-toggle sidebar-toggle sidebar-toggle"
      "online-contents online-contents online-contents";
  }

  h1 {
    grid-area: title;
    margin-bottom: 0;
  }

  .al-request {
    grid-area: request;
  }

  .bookmark-toggle {
    grid-area: bookmark-toggle;
    margin-left: 0 !important;
  }

  .sidebar-toggle {
    grid-area: sidebar-toggle;
    max-width: fit-content;
  }

  .online-contents {
    grid-area: online-contents;
    margin-bottom: 1rem;

    h2 {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}
