.al-document-highlight {
  padding-top: 10px;
  padding-left: 10px;
  font-size: $font-size-sm;
  font-style: italic;
  margin-bottom: $spacer;
  em {
    background-color: $background-highlight;
    font-weight: bold;
  }
}
