:root {
  --al-online-icon-color: #{$online-icon-color};
}
.toggle-bookmark,
.breadcrumb-item,
.document,
.al-online-content-icon {
  .blacklight-icons svg {
    height: 1rem;
    width: 1rem;
  }
}

.al-online-content-icon .blacklight-icons svg {
  fill: var(--al-online-icon-color);
}

.btn > .bi:first-child {
  margin-inline-end: 0.25rem !important;
}
