.al-search-breadcrumb,
.al-show-breadcrumb {
  font-size: $font-size-sm;
  margin-bottom: $spacer;
}

.al-show-breadcrumb .breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  .breadcrumb-item + .breadcrumb-item::before {
    content: '';
  }
}

.al-show-actions-box {
  border: $default-border-styling;
  background-color: $gray-200;
  font-size: $font-size-sm;
  height: 100%;
  min-width: 200px;
  padding: $spacer;
  
  :first-child {
    padding-top: 0;
  }
  :last-child {
    padding-bottom: 0;
  }

  > div {
    padding: ($spacer / 3) 0;
  }

  &-options {
    display: flex;
    align-items: center;
  }

  &-downloads {
    &-file {
      &.blacklight-icons {
        width: 1.24rem;
        svg {
          fill: $secondary;
        }
      }
    }
  }
}

.al-show-breadcrumb h1 { font-size: 1.5rem; }

.breadcrumb-item {
  flex: 1 0 100%;

  &.al-bc-item {
    &::before {
      content: '»' !important;
    }
  }
}

@for $i from 1 to 14 {
  .breadcrumb-item.breadcrumb-item-#{$i} {
    padding-left: ($i - 1) * 10px !important;
  }
}

// Collapse arrow indicators
.al-toggle-view-all,
.al-toggle-view-children {
  &[aria-expanded="true"] {
    & {
      content: image-url('blacklight/minus.svg');
    }
  }

  content: image-url('blacklight/plus.svg');
}

a.al-toggle-view-all,
a.al-toggle-view-children {
  vertical-align: text-bottom;
}

.bookmark-toggle .toggle-bookmark {
  display: inline;
  margin-bottom: 0;
  white-space: nowrap;
}

.bookmark-toggle {
  display: inline;
}

.al-hierarchy-side-content {
  .al-request-form {
    display: inline;
    float: right;
  }
}

.al-request-button {
  &.btn-link {
    font-weight: 600;
    line-height: 1;
  }
    @media (min-width: 1200px) {
      margin-right: ($spacer / 2);
    }

  &:before {
    content: "\0229F";
  }
}


dl dd {
  overflow-wrap: break-word;
}
