.al-search-breadcrumb,
.al-show-breadcrumb {
  font-size: $font-size-sm;
  margin-bottom: $spacer;
}

.al-show-breadcrumb {
  border-bottom: $border-width solid $border-color;
  padding-bottom: $spacer;
  margin-bottom: $spacer * .75;
  width: 100%;
  
  $bent-arrow: "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='15'><path fill-rule='evenodd' d='M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z'></path></svg>";

  .breadcrumb {
    margin: 0;

    .breadcrumb-item .breadcrumb {
      padding-left: 0.5rem;
    }

    .breadcrumb-item-1 > .breadcrumb {
      padding-left: 1rem;
    }

    .breadcrumb-item-2 > .breadcrumb {
      display: block;
    }

    .breadcrumb-item-3 {
      display: inline-block;
    }

    .breadcrumb-item-3:first-of-type {
      // This is if the series is a parent of this item.
      &::before {
        content: escape-svg(url($bent-arrow));
      }
    }

    // last item doesn't get its own line unles s
    .breadcrumb-item-4 {
      display: inline-block;
    }
  }

  .breadcrumb-item-4 {
    &:first-child > .breadcrumb-text:first-child {
      // This is if we're on a series (no svg node like on a collection). We still want the bent arrow to show.
      &::before {
        content: escape-svg(url($bent-arrow));
      }
    }
  }

  .breadcrumb-item-1, .breadcrumb-item-4 { // breadcrumb-item-3 can have multiple on one line
    flex: 1 0 100%;
    color: $gray-600;
  }
}

// offcanvas sidebar is scrollable for smaller screens
#sidebar {
  overflow-y: scroll;

  @include media-breakpoint-up(lg) {
    overflow: hidden;
  }
}

.collection-sidebar {
  padding-right: 1rem;
  border-right: $border-width solid $border-color;

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.sidebar-section {
  border-bottom: $border-width solid $border-color;
  margin-bottom: $spacer;
  padding-bottom: $spacer * 1.33;
  margin-left: $spacer;

  &:last-child {
    border-bottom: none;
  }
}

.breadcrumb-home-link {
  margin-bottom: ($spacer * 0.25);
}

.al-show-actions-box {
  border: $default-border-styling;
  background-color: $gray-200;
  font-size: $font-size-sm;
  padding: ($spacer * .5) $spacer ($spacer * .75);

  @media (max-width: 767px) {
    margin-top: $spacer;
  }

  .al-collection-id {
    margin-bottom: $spacer * .75;
  }

  &-options {
    display: flex;
    align-items: center;
  }

  &-info {
    .dropdown {
      // prevent dropdown from being cut off by parent container
      position: static;
    }
    .dropdown-toggle:after {
      margin-left: 0;
    }

    table {
      td {
        text-align: right;
      }
    }
  }

  svg.bi { 
    vertical-align: text-bottom;
    color: $light-icon-color;
  }
  
  .dropdown-item svg.bi {
    color: $dark-icon-color;
  }
}

.bookmark-toggle {
  display: inline;
  margin-left: 1em;
  
  .toggle-bookmark {
    display: inline;
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.show-document {
  @extend .ps-lg-4;

  .title-container .bookmark-toggle {
    @extend .card;
    @extend .bg-light;
    @extend .p-2;
  }
}

.al-hierarchy-side-content {
  .al-request-form {
    display: inline;
    float: right;
  }
}

dl dd {
  overflow-wrap: break-word;
}

dl.deflist dt {
  text-align: left;
}

.chronlist-head, .list-head {
  caption-side: top;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.chronlist th,
.chronlist-item-date {
  font-weight: 500;
}

.chronlist-item-date {
  width: 15ch;
}

.chronlist-item-event {
  div:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.text-underline {
  text-decoration: underline;
}

#contents {
  border-bottom: $border-width solid $border-color;
  border-top: $border-width solid $border-color;
  margin: $spacer 0;
  padding: $spacer 0;
}
