.navbar-search {
  border-bottom: $default-border-styling;
  border-top: $default-border-styling;
  margin-bottom: ($spacer * 0.5);
  z-index: 10;

  .search-query-form {
    max-width: 100% !important; // work around blacklight styles
    display: flex;
    gap: 0.5rem;

    // wrap collection dropdown onto its own line on smaller screens
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    .input-group {
      width: unset;
      flex: auto;
    }

    .within-collection-dropdown {
      flex: none;
    }
  }
}

.al-masthead {
  --al-mastead-active-link-color: var(--bs-gray-700);

  h1,
  .h1 {
    display: block;
    font-size: $h2-font-size;
    margin: 0;
    padding: ($spacer * 1.5) ($spacer * 0.5);
  }

  .navbar-nav {
    flex-direction: row;
    font-weight: 700;

    .active a {
      color: var(--al-mastead-active-link-color);
    }
  }

  @media (max-width: 767px) {
    .nav-links {
      justify-content: center !important;
    }

    h1 {
      text-align: center;
    }
  }
}
