.navbar-search {
  .search-query-form {
    max-width: 100% !important;   // work around blacklight styles
    display: flex;
    gap: .5rem;

    // wrap collection dropdown onto its own line on smaller screens
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    .input-group {
      width: unset;
      flex: auto;
    }

    .within-collection-dropdown {
      flex: none;
    }
  }
}

.al-masthead {
  h1, .h1 {
    display: block;
    font-size: $h2-font-size;
    margin: 0;
    padding: ($spacer * 1.5) ($spacer * 0.5);
  }

  .navbar-nav {
    flex-direction: row;
    font-weight: 700;

  .active a {
      color: $gray-700;
    }
  }

  + .navbar-search {
    border-bottom: $default-border-styling;
    border-top: $default-border-styling;
    margin-bottom: ($spacer * 0.5);

    a {
      font-weight: $font-weight-bold;
    }

    .active a {
      color: $gray-700;
    }

    .navbar-toggler {
      background-color: $white;
      border: $default-border-styling;
    }

    .navbar-toggler-icon {
      background-image: $navbar-light-toggler-icon-bg;
    }
  }

  @media (max-width: 767px) {
    .nav-links {
      justify-content: center !important;
    }

    h1,
    + .navbar-search {
      text-align: center;
    }
  }
}
