.al-repository {
  padding-bottom: 25px;
}
.al-repository .container {
  border: 1px solid #999;
  background: #eee;
  padding: 5px;
}
.al-repository-contact h3 {
  padding-bottom: 10px; // TODO: need actual padding value here
}
.al-repository-contact address {
  font-size: small; // TODO: just an example
}
.al-repository-contact-phone {
  padding-top: 10px; // TODO: need actual padding value here
}
.al-repository-description {
  font-size: small;
}
.al-repository-extra {
  text-align: center;
}
