.documents-list {
  .badge {
    float: right;
  }

  // Result item header
  .al-document-title-bar {
    background-color: $gray-200;
    border: $result-item-border-styling;
    font-size: $font-size-sm;
    margin: 0 (-$result-item-body-padding - 1px) 0.5rem;
    padding: 3px $result-item-body-padding;
  }

  // Result item body
  article.document {
    border-bottom: 0;
    border-left: $result-item-border-styling;
    border-right: $result-item-border-styling;
    margin-bottom: $spacer * 2;
    padding: 0 $result-item-body-padding;

    .documentHeader {
      padding-top: 0.4rem;
    }

    .document-title-heading {
      font-size: $h5-font-size;
    }

    .breadcrumb-links,
    .al-document-creator,
    .al-document-extent,
    .al-document-abstract-or-scope {
      font-size: $font-size-sm;
    }
  }
}

.al-grouped-results {
  .al-grouped-repository {
    font-size: $font-size-sm;
  }
  .al-grouped-title-bar {
    background-color: $gray-200;
    padding: $result-item-body-padding;

    h3 {
      display: inline;
      font-size: $h4-font-size;
    }
  }
  .grouped-documents {
    margin: $result-item-body-padding;
    h4 {
      font-size: $h5-font-size;
    }
  }
}

.documents-compact {
  .document {
    .breadcrumb-links,
    .al-repository-footer {
      font-size: $font-size-sm;
    }
  }
}

.documents-hierarchy {
  .al-number-of-children-badge {
    background-color: #eee;
    border: 1px solid #ccc;
    color: $gray-600;
    vertical-align: top;
  }
}

.al-data-range-histogram {
  margin-bottom: $spacer;
}

.blacklight-catalog-index #appliedParams {
  margin-bottom: ($spacer * 3) !important;
}


// Compact Search Results
.documents-compact {
  margin-bottom: $spacer;

  .document {
    border-bottom: $result-item-border-styling;
    padding: $spacer 0;

    &:first-child {
      border-top: $result-item-border-styling;
    }
  }
}

.col-no-left-padding {
  padding-left: 0 !important;
}

.col-no-right-padding {
  padding-right: 0 !important;
}
