.documents-list {


  // Result item header
  .al-document-title-bar {
    background-color: $gray-200;
    border: $result-item-border-styling;
    font-size: $font-size-sm;
    margin: 0 (-$result-item-body-padding - 1px) 0.5rem;
    padding: 3px $result-item-body-padding;
  }

  // Result item body
  article.document {
    border-bottom: 0;
    margin-bottom: $spacer * 2;
    padding: 0 $result-item-body-padding;

    .document-title-heading {
      font-size: $h5-font-size;
      .al-document-extent {
        background-color: $gray-200;
        border: $result-item-border-styling;
        font-size: $font-size-sm;
        margin-bottom: 0.25rem;
        padding: 2px $result-item-body-padding;
        border-radius: 10px;
      }
    }

    .al-document-container.text-muted {
      color: #ADB5BD !important;
    }

    div .bookmark-toggle .toggle-bookmark, div .index-document-functions {
      display: inline;
    }

    form.bookmark-toggle.col-auto {
      padding-right: 0;
    }

    .breadcrumb-links,
    .al-document-creator,
    .al-document-extent,
    .al-document-abstract-or-scope {
      font-size: $font-size-sm;
    }

    .al-document-abstract-or-scope {
      max-width: 45em;
    }
  }
}

article.document {
  .blacklight-icons svg {
    fill: $secondary;
  }
  .blacklight-icons.al-online-content-icon svg {
    fill: $green;
  }
}

.documents-compact {
  h3 {
    font-size: $h5-font-size;
  }
}

.al-grouped-results {
  .al-document-abstract-or-scope {
    max-width: 45em;
  }
  .al-grouped-repository {
    font-size: $font-size-sm;
  }
  .al-grouped-title-bar {
    background-color: $gray-200;
    padding: $result-item-body-padding;

    h3 {
      display: inline;
      font-size: $h4-font-size;
    }
  }
  .grouped-documents {
    margin: $result-item-body-padding;
    h4 {
      font-size: $h5-font-size;
    }
  }
}

.documents-compact {
  .document {
    .breadcrumb-links,
    .al-repository-footer {
      font-size: $font-size-sm;
    }
  }
}

.documents-hierarchy {
  .al-number-of-children-badge {
    background-color: #eee;
    border: 1px solid #ccc;
    color: $gray-600;
    vertical-align: top;
  }
}

.al-data-range-histogram {
  margin-bottom: $spacer;
}

.blacklight-catalog-index #appliedParams {
  margin-bottom: ($spacer * 3) !important;
}


// Compact Search Results
.documents-compact {
  margin-bottom: $spacer;

  .document {
    border-bottom: $result-item-border-styling;
    padding: $spacer 0;

    &:first-child {
      border-top: $result-item-border-styling;
    }
  }
}

.col-no-left-padding {
  padding-left: 0 !important;
}

.col-no-right-padding {
  padding-right: 0 !important;
}

.breadcrumb-links a {
  color: $body-color;
}

.btn-outline-secondary svg {
  fill: $gray-600;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active svg, .btn-outline-secondary:hover svg {
  fill: #fff;
}

@media only screen and (max-width: 767px) {
  article.document {
    .al-document-mobile {
      position: absolute;
      bottom: 0;
      width:100%;

      .al-online-content-icon {
        position: absolute;
        right: 14%;
      }
    }
    .breadcrumb-links {
      margin-bottom: ($spacer * 3);
    }
    .al-document-container.text-muted {
      padding-left: 0;
      margin-right: auto;
    }
    
  }
}

