.documents-list {
  margin-bottom: $spacer;

  // Result item header
  .al-document-title-bar {
    background-color: $gray-200;
    border: $default-border-styling;
    font-size: $font-size-sm;
    margin: 0 (-$result-item-body-padding - 1px) 0.5rem;
    padding: 3px $result-item-body-padding;
  }

  // Result item body
  article.document {
    border-bottom: $default-border-styling;
    margin-top: 0;
    padding: $spacer 0;

    &:first-child {
      padding-top: 0;
    }

    .document-title-heading {
      font-size: $h5-font-size;
      .al-document-extent {
        @include extent-badge;
      }
    }

    .breadcrumb-links,
    .al-document-creator,
    .al-document-extent,
    .al-document-abstract-or-scope {
      font-size: $font-size-sm;
    }

    .al-document-abstract-or-scope {
      margin-bottom: $spacer * .5;
      max-width: 45em;
    }
  }
}

article.document {
  .blacklight-icons svg {
    fill: $secondary;
  }
  .al-online-content-icon .blacklight-icons svg {
    fill: $online-icon-color;
  }
  div.breadcrumb-links,
  dd.al-document-abstract-or-scope,
  dd.al-document-creator {
    margin-top: ($spacer * .5);
  }

  form.bookmark-toggle.col-auto {
    padding-right: 0;
  }
}

.al-grouped-results {
  .breadcrumb-links {
    font-size: $font-size-sm;
  }

  .al-document-abstract-or-scope {
    margin-bottom: 0;
    margin-top: $spacer * .75;
    max-width: 45em;
  }
  .al-grouped-repository {
    font-size: $font-size-sm;
    margin-bottom: $spacer * .75;
  }
  .al-grouped-title-bar {
    background-color: $gray-200;
    padding: $result-item-body-padding;

    h3 {
      display: inline;
      font-size: $h4-font-size;
    }
  }
  .grouped-documents {
    margin: $result-item-body-padding 0;
    h4 {
      font-size: $h5-font-size;
    }

    .al-grouped-more {
      border-bottom: $default-border-styling;
      margin-bottom: $spacer;
      padding: ($spacer * .5) 0;
    }

    .document {
      border-bottom: $default-border-styling;
      margin-top: 0;
      padding: $spacer 0;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .al-document-extent {
    @include extent-badge;
    background-color: $gray-100;
    border-color: $gray-400;
    color: $gray-700;
  }
}

.al-data-range-histogram {
  margin-bottom: $spacer;
}

.blacklight-catalog-index #appliedParams {
  margin-bottom: ($spacer * 3) !important;
}


// Compact Search Results
.documents-compact {
  margin-bottom: $spacer;

  h3 {
    font-size: $h5-font-size;
  }

  .document {
    border-bottom: $default-border-styling;
    display: flex;
    padding: $spacer 0;

    &:first-child {
      padding-top: 0;
    }
    .breadcrumb-links,
    .al-repository-footer {
      font-size: $font-size-sm;
    }
  }
}

.index-document-functions {
  display: flex;
  @extend .justify-content-end;
}

.al-document-container.text-muted {
  color: $gray-600 !important;
  font-size: 16px;
  float: right;
}

.col-no-left-padding {
  padding-left: 0 !important;
}

.col-no-right-padding {
  padding-right: 0 !important;
}

.breadcrumb-links a {
  text-decoration-style: dotted;
  color: $body-color;

  &:hover,
  &:active {
    text-decoration-style: solid;
  }
}

.breadcrumb-links .col {
  flex-basis: auto;
 }

.btn-outline-secondary svg {
  fill: $gray-600;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active svg, .btn-outline-secondary:hover svg {
  fill: $white;
}

.sort-pagination {
  flex-wrap: wrap;
}

.search-widgets {
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.result-type-group {
  order: -1;
  flex-grow: 1;
  &.btn-group>.btn {
    flex-grow: 0;
  }
}
@include media-breakpoint-down(md) {
  .result-type-group {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .search-widgets {
    justify-content: flex-start;
  }
}

.show-document {
  .al-contents {
    .breadcrumb-links {
      display: none;
    }

    .sort-pagination {
      margin-bottom: 0;
    }

    article {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    article:first-child {
      padding-top: 1rem;
    }

    article:nth-child(odd) {
      background-color: $gray-100;
    }

    .index_title {
      font-size: 1rem;
    }

    .bookmark-toggle {
      display: none;
    }

  }
}
