// Collection header
.al-show-header-section {
  border: $result-item-border-styling;
  margin-bottom: $spacer;
  padding: 0 $spacer;

  .al-document-title-bar {
    background-color: $gray-200;
    border-bottom: $result-item-border-styling;
    font-size: $font-size-sm;
    margin: 0 (-$spacer) $spacer;
    padding: 3px $result-item-body-padding;
  }

  .badge {
    float: right;
  }

  h1 {
    font-size: $h4-font-size;
    margin-bottom: $spacer;
  }
}

// Collection overview
.al-show-sub-heading {
  font-size: $h6-font-size;
  text-transform: uppercase;

  + dl dt {
    font-size: $font-size-sm;
    margin-top: 4px;
    text-transform: uppercase;
  }
}

.al-collection-actions-menu {
  float: right;
}

// Access tab
#access {
  dl dt {
    font-size: $font-size-sm;
  }

  dl dd {
    line-height: 1.4;
    margin-bottom: $spacer;
  }

  img {
    margin-bottom: $headings-margin-bottom;
    margin-right: $spacer;
    max-height: 150px;
    max-width: 150px;
  }

  .al-in-person-repository-name,
  .al-in-person-repository-location,
  .al-in-person-repository-contact {
    font-size: $font-size-sm;
    line-height: 1.25;
  }

  .al-repository-contact-city_state_zip_country {
    margin-bottom: ($spacer / 2);
  }
}
