.al-in-person-repository-location {
  clear: left;
}

.al-digital-object {
  margin-bottom: $spacer;

  .al-digital-object-label {
    margin-bottom: ($spacer / 2);
  }
}

// Hiding this from display since we don't need it.
dt.blacklight-digital_objects_ssm {
  display: none;
}

.al-sticky-sidebar .al-request-button {
  border: 0;
  padding-left: 0;
}
