// Colors
$online-icon-color: $green !default;
$background-highlight: #ffffaa !default;
$default-border-color: $border-color  !default;
$light-icon-color: #f5f5f5 !default;
$dark-icon-color: $secondary !default;

// Spacing
$result-item-body-padding: 12px !default;

// Mixins
$default-border-styling: 1px solid $default-border-color !default;

@mixin extent-badge {
  background-color: $gray-200;
  border: $default-border-styling;
  border-radius: $border-radius-lg;
  color: $dark;
  font-size: $font-size-sm;
  line-height: 1.2;
  margin: 0;
  padding: ($spacer * .25) ($spacer * .5);
  text-align: left;
  white-space: normal;
}
