name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rails_version: [7.0.4]
        ruby: ['3.0', '3.1', '3.2']
    env:
      RAILS_VERSION: ${{ matrix.rails_version }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        bundler: latest
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies with Rails ${{ matrix.rails_version }}
      run: bundle install
    - name: Run tests
      run: bundle exec rake ci
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler: latest
          ruby-version: 3.2
      - name: Install dependencies with Bundler
        run: bundle install
      - name: Install dependencies with yarn
        run: yarn install
      - name: Lint Ruby files
        run: bundle exec rake rubocop eslint
