name: CI

on:
  push:
    branches: [main, release-*]
  pull_request:
    branches: [main, release-*]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rails_version: [7.1.5.1, 7.2.2.1]
        ruby: ["3.2", "3.3"]
        additional_engine_cart_rails_options: [""]
        include:
          - ruby: "3.1"
            rails_version: "7.1.5"
          - ruby: "3.3"
            rails_version: "8.0.1"
    env:
      RAILS_VERSION: ${{ matrix.rails_version }}
      ENGINE_CART_RAILS_OPTIONS: "--skip-git --skip-listen --skip-spring --skip-keeps --skip-kamal --skip-solid --skip-coffee --skip-test --css bootstrap -a propshaft -j importmap ${{ matrix.additional_engine_cart_rails_options }}"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          bundler: latest
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies with Rails ${{ matrix.rails_version }}
        run: bundle install
      - name: Run tests
        run: bundle exec rake ci
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler: latest
          ruby-version: 3.2
      - name: Install dependencies with Bundler
        run: bundle install
      - name: Install dependencies with yarn
        run: yarn install
      - name: Lint Ruby files
        run: bundle exec rake rubocop eslint
