<div class='al-show-actions-box'>
  <div class="al-actions-box-container">
    <h2>Collection</h2>
    <h3><%= title %></h3>

    <div class='al-show-actions-box-options d-inline-flex'>
      <%= helpers.render partial: 'arclight/requests', locals: { document: document } %>
    </div>
    <%= render Arclight::DocumentDownloadComponent.new(downloads: collection.downloads) %>
    <%= render Arclight::CollectionInfoComponent.new(collection: collection) %>
  </div>
</div>
