<div class='al-show-actions-box'>
  <div class="al-actions-box-container">
    <h2>Collection</h2>
    <h3><%= title %></h3>

    <%= render Arclight::DocumentDownloadComponent.new(downloads: collection.downloads) %>
    <%= render Arclight::CollectionInfoComponent.new(collection: collection) %>
  </div>
</div>
