<div class='al-masthead bg-light'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8" >
        <span class="h1"><%= heading %></span>
      </div>

      <div class="col-md-4 nav-links d-flex justify-content-end" >
        <ul class="navbar-nav" aria-label="browse" role="navigation">
          <%= render 'shared/main_menu_links' %>
        </ul>
      </div>
    </div>
  </div>
</div>