<div class='al-masthead bg-light'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8" >
        <span class="h1"><%= heading %></span>
      </div>

      <nav class="col-md-4 nav-links d-flex justify-content-end" aria-label="browse">
        <ul class="navbar-nav">
          <%= render 'shared/main_menu_links' %>
        </ul>
      </nav>
    </div>
  </div>
</div>
