<%= tag.div(class: 'al-oembed-viewer', data: { controller: 'arclight-oembed', arclight_oembed_url_value: @resource.href }) do %>
  <div class="al-digital-object">
    <%= link_to(@resource.label, @resource.href) %>
  </div>
<% end %>
