<%= tag.div(class: 'al-oembed-viewer', 'data-arclight-oembed': true, 'data-arclight-oembed-url': @resource.href) do %>
  <div class="al-digital-object media">
    <%= link_to(@resource.label, @resource.href) %>
  </div>
<% end %>
