<div class="online-contents">
  <div class="alert alert-success d-flex align-items-center">
    <div class="d-flex">
      <span class="media-body al-online-content-icon mr-2 me-2" aria-hidden="true"><%= helpers.blacklight_icon :online %></span>
      <h2 class="d-none d-lg-inline"><%= t('arclight.views.show.online_content.title') %></h2>
    </div>
    <div class="ml-3 ms-3 ml-xl-5 ms-xl-5">
      <div><%= t('arclight.views.show.online_content.description') %></div>
      <%= link_to t('arclight.views.show.online_content.link_text'), helpers.search_action_path(f: { collection_ssim: [collection_name], has_online_content_ssim: ['online'] }) %>
    </div>
  </div>
</div>
