<div class="card online-contents">
  <div class="card-body d-flex align-items-center">
    <div class="d-flex">
      <span class="al-online-content-icon mr-2 me-2" aria-hidden="true"><%= helpers.blacklight_icon :online %></span>
      <h2 class="d-none d-lg-inline">
        <span class="visually-hidden">Filter</span>
        <%= t('arclight.views.show.online_content.title') %>
      </h2>
    </div>
    <div class="ml-3 ms-3 ml-xl-5 ms-xl-5">
      <div><%= t('arclight.views.show.online_content.description') %></div>
      <%= link_to t('arclight.views.show.online_content.link_text'), helpers.search_action_path(f: { collection: [collection_name], access: ['online'] }) %>
    </div>
  </div>
</div>
