<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
    <div class="px-2 document-type-icon">
      <%= icon %>
    </div>
    <div class="container">
      <%= render Arclight::SearchResultTitleComponent.new(document: document, compact: compact?) %>

      <div class="row">
        <%= metadata %>
      </div>
    </div>
<% end %>
